@model IEnumerable<template01.Models.usuariossocios17>
@{
    ViewBag.Title = "_obtienelcientes";
}
<div class="container">
    <div class="col-md-12">
        <div class="mt-widget-3">
            <div class="mt-head bg-blue-hoki">
                <div class="mt-head-icon">
                    <i class="icon-user"></i>
                </div>
                <div class="mt-head-desc"> @ViewBag.nombre </div>
                <span class="mt-head-date"> <strong>@ViewBag.edad </strong>  Años , Decidio realizar un cambio por : @ViewBag.razon</span>
                <input type="text" id="idcliente" class="form-control input-xsmall hidden" value="@ViewBag.idcliente" placeholder="escriba la porcion ">
            </div>
        </div>
    </div> 

</div>
<div class="row">


    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-haze">
                <i class="icon-settings font-green-haze"></i>
                <span class="caption-subject bold uppercase">Busque su receta a agregar</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" class="form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="idrecetas">

                            </div>
                            <br />
                            <button type="button" onclick="verAlimentos()" class="btn blue">Ver alimentos</button>
                            <script>
                                function verAlimentos() {

                                    var idreceta = $("#cboreceta").val();
                                    if (idreceta.length == 0) {
                                        alert("eliga almenos una receta");
                                        return false;
                                    }
                                                               $.ajax({
                                                                    type: 'GET',
                                                                    url: "@Url.Action("_obtienealimentos", "nut")",           
                                                                    data: { idreceta: idreceta },
                                                                   success: function (response) {                                                                            
                                                                       $("#alimentosReceta").html(response);     
                                                                       $('.form_date').datetimepicker({
                                                                           language: 'es',
                                                                           format: "dd/mm/yyyy",
                                                                           weekStart: 1,
                                                                           todayBtn: 1,
                                                                           autoclose: 1,
                                                                           todayHighlight: 1,
                                                                           startView: 2,
                                                                           minView: 2,
                                                                           forceParse: 0
                                                                       });
                                                                    },
                                                                    error: function (result) {
                                                                      
                                                                    }
                                                                });
                                }
                            </script>
                        </div>

                    </div>
                    <div class="row">
                        <div id="alimentosReceta"></div>
                    </div>
                </div>
            
            </form>
        </div>
    </div>

    <br>
  
</div>
<script>

    function terminar() {    
        var completo = "0";
        $("#tab_alimentos tbody tr").each(function (index) {         
            var campo1, campo2, campo3;
            var conteoRenglon = 0;
            var id = "porcion";
            var idcliente = $("#idcliente").val();
            var fecharecete = $("#fechacomida").val();
            var idreceta = $("#idreceta").val();
            var idtipocomida = $("#cbotipocomida").val();
          
            conteoRenglon = conteoRenglon + 1;
            $(this).children("td").each(function (index2) {
              
                switch (index2) {
                      
                                  case 0:
                        campo1 = $(this).text();
                        id = id + '' + campo1 + '';
                                    break;
                                                      case 1:
                                 campo2 = $(this).text();
                                 break;
                     case 2:                                             
                         campo3 = $("#" + id).val();
                                 break;
             
                  }   
                 })
            if (idtipocomida.length == 0 || fecharecete.length == 0 || campo3.length == 0) {
                alert("Debellenar todos los campos por favor ");
                completo = "0";
                return false;

            } else { completo = "1"; }

            

                                                              $.ajax({
                                                                    type: 'GET',
                                                                    url: "@Url.Action("insertarAlimentos", "nut")",           
                                                                  data: {
                                                                      idsocio: idcliente, idcomida: idreceta, idtipocomida: idtipocomida, idalimento: campo1,
                                                                      vporcion: campo3, fechacomida: fecharecete
                                                                  },                                                                     
                                                                   success: function (response) {                                                                            
                                                                     
                                                                     
                                                                    },
                                                                    error: function (result) {
                                                                      
                                                                    }
                                                                });
        
               })
        if (completo == "1") {
            alert("se ha agregado correctamente , para ver mas detalles de las comida agregadas puede buscarla en la seccion de: Agenda de comidas ");
            $("#alimentosReceta").html("");   
        }
        
    }

</script>